body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

select,
.select {
  width: 100%;
}

.select.multiple {
  display: block;
}

.select.multiple,
.select.multiple select {
  height: auto;
}

.tag,
.button {
  margin: 5px;
}
